.container {
  width: 570px;
  padding: 30px 55px;

  background-color: #FCDDD4;
  border-radius: 3px 0 0 3px;
  border-left: 10px solid #ED4D47;
}

.text {
  font-family: 'Rubik', sans-serif;
  font-size: 1.33em;
  font-weight: 500;
  color: #402B2B;
  line-height: 1.5;
}
