.container {
  width: 220px;
  height: 60px;
  padding: 0px 25px;

  background-color: #EE4D47;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all 0.3s ease-in-out;
}

.text {
  color: #ffffff;
  text-transform: uppercase;
}

.container:hover {
  background-color: #CD2827;
  cursor: pointer;
}
