.headerIcon {
  font-family: 'DM Serif Display';
  font-size: 1.8em;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  margin-right: 292px;

  svg {
    margin-right: 28px;
  }
}
